apiVersion: apps/v1
kind: Deployment
metadata:
  name: nginx-deployment
  labels:
    app: nginx
spec:
  replicas: 3
  selector:
    matchLabels:
      app: nginx
  template:
    metadata:
      labels:
        app: nginx
    spec:
      containers:
        - name: nginx
          image: nginx:1.14.2
          ports:
            - containerPort: 80
---
apiVersion: v1
kind: Namespace
metadata:
  name: super-mario
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: super-mario
  namespace: super-mario
  labels:
    app: super-mario
spec:
  replicas: 3
  selector:
    matchLabels:
      app: super-mario
  template:
    metadata:
      labels:
        app: super-mario
    spec:
      containers:
        - name: super-mario
          image: pengbai/docker-supermario:latest
          ports:
            - containerPort: 80
